:root, .light {
	--text-color: #31373c;
	--text-bright: black;
	--text-dim: #586269;
	--bg-color: #f5fbff; /* #e1edf6 */
	--bg-gradient-start-color: white;
	--bg-gradient-stop: 60%;
	--link-color: #036cbf;
	--nav-link-color: var(--link-color);
	--header-nav-link-color: var(--link-color);
	--nav-link-hover-bg: white; /* #f6fafc */
	--h1-fill: linear-gradient(to right, #3baff1, #235584);
	--link-decoration-color: #ddd;
	--code-bg: #d4e1ec;
	/* --header-bg: rgb(250 253 255 / .4); */
}

.dark {
	--text-color: #d6e4f7;
	--text-bright: white;
	--text-dim: #52595e;
	--bg-color: #00111e;
	--bg-gradient-start-color: #0a3a60;
	--bg-gradient-stop: 0%;
	--link-color: #408bc7;
	--nav-link-color: var(--text-color);
	--header-nav-link-color: #c6d2e3;
	--nav-link-hover-bg: #0a3a60;
	--h1-fill: linear-gradient(to right, #7bceff, #051b2f);
	--link-decoration-color: #375862;
	--code-bg: #1e384d;
	/* --header-bg: rgb(5 33 54 / .5); */
}


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Readex Pro;
	font-size: 16px;
	color: #a9bfd0;
	line-height: 1.5;
	background-color: #00111e;
	/* background-image: conic-gradient(from 180deg, #00111E, #134266, #00111E); */
	/* background-image: linear-gradient(#134266, #00111E); */
	/* background-image: radial-gradient(closest-side, #004b84, #00111e);
	background-repeat: no-repeat;
	background-size: 100% 200vh;
	background-position: 0 -50vh; */

	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

html.dark .light {
	display: none;
}

html:not(.dark) .dark {
	display: none;
}

code {
	font-family: 'JetBrains Mono', monospace;
}

a {
	color: var(--link-color);
	text-decoration-line: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 2px;
	text-decoration-color: var(--link-decoration-color);
	transition: all .15s;
}

a:hover {
	color: #006ec6;
	text-decoration-color: var(--link-color);
}

nav a {
	text-decoration: none;
	/* text-shadow: 0 0 5px rgb(255 255 255 / .25); */
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	background: var(--header-bg);
}

.blur::before,
.blur::after {
	content: "";
	inset: -1px 0 50%;
	position: absolute;
	height: 80px;
	user-select: none;
	pointer-events: none;
	z-index: 2;
}

.blur::before {
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	background: linear-gradient(to bottom, rgb(0 48 78 / 90%), transparent 120%);
	mask-image: linear-gradient(to bottom, black 60px, transparent);
}

header img {
	height: 1.75em;
}

header nav {
	width: 100%;
	height: 60px;
	position: relative;
	z-index: 3;
	border-bottom: 1px solid #5192c426;
	display: flex;
	align-items: stretch;
}

header nav > * {
	margin: 0 1em;
	padding: 1em 0;
	display: flex;
	align-items: center;
}

header nav a,
header nav a img {
	transition: .2s ease;
}

header nav a,
header nav > a:hover {
	color: var(--header-nav-link-color);
	text-shadow: 0 1px 1.5px black;
}

header nav > a:hover {
	opacity: .6;
}

html:not(.dark) header nav a {
	text-shadow: none;
}

header nav .right-side {
	margin-left: auto;
}

#current-theme {
	text-transform: capitalize;
}

h1 {
	font-size: 120px;
	color: rgb(194, 207, 226);
	margin: 0 auto 50px;
	text-align: center;
	
	font-family: Poppins;
	font-weight: 900;
	line-height: 1.3;
}

h2, h3, h4 {
	line-height: 1.2;
}

h2 {
	font-size: 65px;
}

.wrapper {
	width: 100%;
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
}

.button {
	border-radius: 5px;
	padding: 1rem 1.5rem;
	text-decoration: none;
	background: var(--button-bg);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.primary {
	background: linear-gradient(125deg, #1A86F1, #00ABA9);
	padding: 8px 1em;
	color: white;
}

.primary:hover {
	transform: scale(1.05);
}

b, strong {
	color: var(--text-bright);
}

.email em {
	display: none;
}

figure {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 14px;
	margin: 2em auto;
	box-shadow: 0 10px 35px -5px rgb(0 0 0 / .25);
	border-radius: 10px;
	overflow: hidden; /* prevent the pointy corners of the image sticking out */
}

figcaption {
	padding: 1em 2em;
}